@font-face {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 200;
    src: url(../assets/fonts/gteestiprodisplay_thin.otf);
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 300;
    src: url(../assets/fonts/gteestiprodisplay_light.otf);
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/gteestiprodisplay_regular.otf);
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/gteestiprodisplay_medium.otf);
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/gteestiprodisplay_bold.otf);
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 900;
    src: url(../assets/fonts/gteestiprodisplay_ultrabold.otf);
}

body{
    font-family: 'GT Eesti Pro Display', Arial, sans-serif;
}